body {
    background: linear-gradient(to right, #a0e25e, #32a032);
    font-family: 'Poppins', sans-serif;
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    from {opacity: 0; }
    to {opacity: 1; }
}

.card {
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateX(-5px);
}

.card-footer a {
    margin: 0 10px;
    transition: transform 0.3s ease, color 0.3 ease;
}

.card-footer a:hover {
    transform: scale(1.3);
    color: #007bff !important;
}

.progress-bar {
    background-color: linear-gradient(to right, #ff578c, #ff3eb3);
}

.profile-img {
    transition: transform 0.3s ease-in-out;
}

.profile-img:hover {
    transform: scale(1.05);
}

.project-card img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.project-card img:hover {
    transform: scale(1.05);
}

.container {
    max-width: 500px;
}

.bg-parallax {
    background: linear-gradient(to right, #ff7eb3, #ff4d94);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

.card:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: 0.3s ease-in-out;
}

.card-footer a:hover {
    color: #ff7eb3 !important;
    text-shadow: 0 0 10px rgba(255, 126, 179, 0.8);
    transform: scale(1.2);
    transition: 0.3s;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0,6s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}

.footer a {
    color: #ff79c6;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .profile-img {
        width: 75% !important;
    }
}